* { 
  box-sizing: border-box; 
}

.selection {
  position: relative;
  display: inline-block;
}

input {
  background-color: #f1f1f1;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: #9f9afa;
  color: #fff;
}

.selection-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  z-index: 2;
  top: 100%;
  left: 0;
  right: 0;
}

.selection-items div {
  background-color: #fff; 
}

.selection-items div:hover { 
  color: #9f9afa; 
}

.selection-active {
  color: #9f9afa; 
}

.inputHidden{
  display : none;
}