*,
*::before,
*::after {
    box-sizing: border-box;
}

/*****************************************************************

                    BODY COMPONENTS

*****************************************************************/

body {
    background-color: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    overflow: hidden;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #0C1A6A;
    font-weight: bold;
    font-size: 3.5em;
    padding: 15px 0;
}

h2 {
    color: #0C1A6A;
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}


h4 {
    color: #FC466B;
    text-transform: uppercase;
}


/*****************************************************************

                    HEADER COMPONENTS

*****************************************************************/
header {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 14px -4px rgba(211, 211, 211, 0.75);
}

header img {
    width: 150px;
    height: 50px;
}

/***** LOADER *****/

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img {
    width: 100%;
}

/***** MENU *****/

#navigation li {
    display: inline;
    margin: 10px 20px;
    color: #0C1A6A;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.menu ul li a:hover {
    color: #FC466B;
}

#navigation li a {
    text-decoration: none;
}

/*****************************************************************

                    FOOTER

*****************************************************************/
footer {
    height: 200px;
    width: 100%;
    background-color: rgb(12, 26, 106, 0.8);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a {
    margin: 0px 40px 0px 40px;
}

.footer_socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer_line {
    width: 340px;
    height: 2px;
    background-color: #f8f8f8;
    margin: 20px;
}

.footer_logo {
    width: 150px;
    height: auto;
}



/*****************************************************************

                    INDEX 

*****************************************************************/


/***** INTRO *****/

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 5%;
}

.introtext {
    width: 30%;
    margin-left:5%;
}

.introtext p {
    width: 70%;
    line-height: 1.5em;
}

.introsvg {
    width: 60%;
}

.intro_button {
    display: block;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 500;
    width: 150px;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    margin: 30px 0;
    background-image: linear-gradient(to right, #9f9afa 0%, #6C7AFB 51%, #3f5efb 100%);
}

/***** POPULAR *****/

.populardiv {
    background: url(images/wavecocktail.svg) no-repeat;
    background-size: cover;
    padding: 0 5%;
}

.populartext {
    padding: 10% 5%;
}

.carouselarrow {
    width: 40px;
}


.glide__track ul li p {
    position: absolute;
    opacity: 0;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

.glide__track ul li:hover p {
    opacity: 1;
    background-color: #0C1A6A;
    color: #f8f8f8;
}

.glide__arrows {
    display: flex;
    justify-content: space-between;
}

.glide__arrow {
    position: static;
    margin-top: 30px;
    transform: none;
}

.glide__arrow--left{
    opacity: 0;
}
.glide__arrow--left img {
    transform: rotate(-180deg);
}

.glide__slides img {
    width: 300px;
    height: 300px;
}

/***** RANDOM *****/

.randomdiv {
    display: flex;
    align-items: center;
    margin: 5% 0;
    padding: 0 5%;
}

.randomtext {
    width: 30%;
    margin-left: 10%;
}

.randomtext p {
    width: 70%;
    line-height: 1.5em;
}

.randomsvg {
    width: 40%;
    margin:0 5%;
}

/***** TIPS *****/

.tipsdiv {
    display: flex;
    align-items: center;
    margin: 5% 5%;
}

.tipstextleft {
    width: 30%;
    margin: 0 5%;
}

.tipstextright {
    width: 30%;
    margin-left: 10%;
}



/*****************************************************************

                    CONTACT

*****************************************************************/


/***** INTRO *****/

.main{
    background-color: #efeeff;
    padding: 5% 0;
}

.container {
    background: #f8f8fd;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
    margin: 0 30%;
    display: flex;
    flex-direction: column;
    width: 40%;
}

label {
    color: #0C1A6A;
}

.form_container_row {
    display: flex;
    margin: 5% 5%;
    justify-content: space-between;
}


input {
    width: 80%;
    background-color: #efeeff;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

input::placeholder {
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
}

textarea {
    width: 80%;
    height: 100px;
    background-color: #efeeff;
    border: none;
    border-radius: 5px;
    resize: none;
    font-family: 'Open Sans', sans-serif;
}

.button_form {
    display: block;
    width: 150px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #f8f8fe;
    margin: 20px auto;
    border-radius: 5px;
    background-image: linear-gradient(to right, #9f9afa, #6c7afb 51%, #3f5efb 100%);
}

.information{
    margin: 5% 5%;
}

/*****************************************************************

                    RANDOM RECIPES

*****************************************************************/


/***** RECIPE *****/

article{
    padding: 5% 0;
}

.drink-info{
    display: flex;
    width: 80%;
    margin:0 10%;
}


.drink-info img{
    width: 550px;
    height: 500px;
    object-fit: cover;
}

.drink-text {
    width: 60%;
    margin-left: 5%; 
}

.drink-text h1{
    width: 90%;
}
.drink-text p{
    line-height: 1.5em;
    width: 70%;
}
.drink-text h2{
    padding: 10px 0;
}

/***** SIMILAR *****/


.related-content{
    margin : 5% 10%;
}

.related-content h2{
    padding-bottom: 5%;
}
.cards{
    display: flex;
    justify-content: space-between;
}


.cards img{
    width: 300px;
}

.card h2{
    font-size: 1.5em;
    padding: 5% 5%;
}

.card{
    width: 300px;
    box-shadow: 0px 5px 14px -4px rgba(145, 145, 145, 0.75);
    height: 450px;
    display: inline-block;
}

.card a{
    color: #FC466B;
    text-decoration: none;
    padding: 5% 5%;
}
